<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link th:href="@{../images/favicon.png}" rel="shortcut icon">
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
    </style>
    <link th:href="@{../css/navstyle.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{layouts/static-layout :: navigation}"></div>

<h5>Телевизоры</h5>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4> Добавление нового товара </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-info" href="#" th:href="@{/tv-page}"> Назад </a>
        </div>
        <div class="row">
            <div class="col">
                <form action="#" class="form-horizontal"
                      th:action="@{/savenewtv}"
                      method="post">
                    <fieldset>

                        <table class="table">

                            <tbody>
                            <!--
                            Телевизоры:
                            наименование, серийный номер, цвет, размер, цена,
                            категория, технология, наличие товара (Да/Нет);-->
                            <tr>
                                <td><p>Наименование</p></td>
                                <td><p>серийный номер</p></td>
                                <td><p>цвет</p></td>
                                <td><p>размер</p></td>
                                <td><p>цена</p></td>
                                <td><p>категория</p></td>
                                <td><p>технология</p></td>
                                <td><p>наличие товара</p></td>
                            </tr>
                            <tr>
                                <td><input class="form-control" placeholder="наименование" name="title" required/></td>
                                <td><input class="form-control" placeholder="серийный номер" name="serialNumber" required/></td>
                                <td><input class="form-control" placeholder="цвет" name="color" required/></td>
                                <td><input class="form-control" placeholder="размер" name="size" required/></td>
                                <td><input class="form-control allownumeric" placeholder="цена" name="price" required/></td>
                                <td><input class="form-control" placeholder="категория" name="category" required/></td>
                                <td><input class="form-control" placeholder="технология" name="technology" required/></td>


                                <td> <select class="align-content-center mx-auto w-100" name="availability" id="availability" required>

                                    <div>
                                        <option th:value="0" th:text="нет">none</option>
                                        <option th:value="1" th:text="есть">none</option>
                                        <!--                                        <option th:value="2" th:text="инвентарь">none</option>-->
                                    </div>
                                </select>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="сохранить">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="очистить"/>
					</span>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</div>


</body>
<div th:insert="~{layouts/static-layout :: footer-copyright}"></div>
</html>